<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>org.sil.ukelele.keyboardlayout.klingon</string>
	<key>CFBundleName</key>
	<string>Klingon - pIqaD</string>
	<key>CFBundleVersion</key>
	<string>0.10</string>
	<key>KLInfo_Klingon - QghaD</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.klingon.klingon-qghad</string>
		<key>TISIntendedLanguage</key>
		<string>tlh</string>
	</dict>
	<key>KLInfo_Klingon - pIqaD-sim</key>
	<dict>
		<key>TICapsLockLanguageSwitchCapable</key>
		<false/>
		<key>TISInputSourceID</key>
		<string>org.sil.ukelele.keyboardlayout.klingon.klingon-piqad-sim</string>
		<key>TISIntendedLanguage</key>
		<string>tlh</string>
	</dict>
</dict>
</plist>
